* {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body .all {
    background-color:#e8e8e8;
    color: black;
}

.all .dark-mode {
    background-color: #212121;
    color: white;
}

img{
    object-fit: cover;
}

/* start loader */
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    z-index: 1000;
    /* Ensures the loader is above other content */
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* end loader */

/* start chatbot */
.chat-icon {
    position: fixed;
    bottom: 20px;
    left: 20px; /* Position the chat icon at the bottom left */
    font-size: 24px;
    background-color: #182957;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 9999; /* Ensure the chat icon appears on top of other elements */
}

.chat-container {
    position: fixed;
    bottom: 80px;
    left: 20px; /* Position the chat container relative to the chat icon */
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    display: none; /* Initially hide chat container */
    z-index: 9999; /* Ensure the chat container appears on top of other elements */
}

.chat-container button{
    background-color: #182957;
    color: #fff;
    border-radius: 6px;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 60px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.icon {
    margin-right: 5px; /* Add some space between icon and message */
}

/* User message styles */
.user {
    text-align: left;
    color: #333;
}

/* Bot message styles */
.bot {
    text-align: right;
    color: #007bff;
}

/* end chatbot */

/* start cart view */
.mini-cart {
    position: sticky;
    /* Position the mini-cart relative to the viewport */
    z-index: 9999;
    /* Ensure the mini-cart is above other elements */
}

.cart-icon {
    cursor: pointer;
    user-select: none;
}

.cart-summary {
    position: absolute;
    border-radius: 5px;
    top: 30px;
    right: 0;
    width: 200px;
    border: 2px solid #182957;
    background-color: #e8e8e8;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    /* Hidden by default */
}

.cart-items {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
    overflow: hidden;
}

.cart-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    /* Align items vertically */
}

.cart-item-image {
    width: 50px;
    height: 50px;
    /* Set the width of the image */
    /* Maintain aspect ratio */
    margin-right: 10px;
    border-radius: 5px;
    /* Add some spacing between the image and text */
}

.cart-total {
    font-weight: bold;
}

/* Hover effect */
.cart-icon:hover+.cart-summary,
.cart-summary:hover {
    display: block;
}

/* end cart view */

/* scroll to top */
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #182957;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

/* start nav bar */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: #182957;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.start {
    background: #182957;
    padding-top: 10px;
}

.start h2 {
    color: #fff;
}

.start h2 span {
    color: #ffc847;
}

.start .icons {
    cursor: pointer;
    display: flex;
    justify-content: right;
    padding: 20px;
}

.start .icons:hover {
    color: #ffc847;
}

.start .nav-item a {
    color: #fff;
}

.start .nav-item a:hover {
    color: #ffc847;
}

/* end nav bar */

/* starting bag */
.container .row .list-group a {
    padding-top: 23px;
}

/* starting bag */

/* SECOUND ROW */
/* .container .row .card .row {
    padding-left: 50px;
    padding-top: 5px;
} */

.container .row .icones {
    cursor: pointer;
}

.container .row .icones .fa-heart:hover {
    color: red;
    transform: scale(1.2);
    transition: transform .5s;
}

.container .row .icones .fa-bookmark:hover {
    color: #ffc847;
    transform: scale(1.2);
    transition: transform .5s;
}

.container .row .icones .fa-cart-plus:hover {
    color: blue;
    transform: scale(1.2);
    transition: transform .5s;
}

.container .row .icones5 .fa-heart:hover {
    transform: scale(1.2);
    transition: transform .5s;
}

.container .row .icones5 .fa-bookmark:hover {
    color: #ffc847;
    transform: scale(1.2);
    transition: transform .5s;
}

.container .row .icones5 .fa-cart-plus:hover {
    color: blue;
    transform: scale(1.2);
    transition: transform .5s;
}

/* SECOUND ROW */

/* clothing page ------------------------------------------------------------------------------ */
.container .row .spans {
    color: #000;
    cursor: pointer;
}

.container .row .spans h6:hover {
    color: #ffc847;
}

.container .row .spans2 {
    cursor: pointer;
}

.container .row .spans2:hover {
    color: #ffc847;
}

.container .row .span2 {
    color: #000;
    cursor: pointer;
}

.container .row .span2:hover {
    color: #ffc847;
}

.container .row .form-check-label:hover {
    color: #ffc847;
    cursor: pointer;
}


.container .row .card .icones5 {
    cursor: pointer;
}

/* .container .row .card img{
    width: 100%;
    height: auto;
} */





/* clothing page ------------------------------------------------------------------------------ */

/* product-page */

/* .product-small-img img{
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: 0.6;
}

.product-small-img img:hover{
    opacity: 1;
}

.product-small-img{
float: left;
}

.product{
    position: absolute;
}

.img-container img{
    height: 500px;
}

.img-container{
    float: right;
    padding: 10px;

} */


.product-small-img img {
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    opacity: 0.6;
}

.product-small-img img:hover {
    opacity: 1;
}

.img-container img {
    height: 500px;
}

.container .row .card5 {
    width: 300px;
    height: 250px;
}

.container .row .card5 h5 {
    background-color: #182957;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.container .row .card5 img {
    width: 300px;
    height: 250px;
}

/* product-page */



/* user page styles */
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}

.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: fff;
}

.account-settings .about p {
    font-size: 0.825rem;
}

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}


/* user page styles */

/* sign in styles */
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

/* sign in styles */